# Build artifacts
/test_kv
*.o
*.out
*.exe
*.obj

# Intermediate and build directories
/build/
/cmake-build-*/

# VSCode settings
.vscode/

# MacOS Finder metadata
.DS_Store

# Backup & swap files
*~
*.swp
*.swo

# Logs and databases
*.log
*.sql
*.sqlite

# Docker
docker-compose.override.yml

# Misc
*.coverage
.coverage.*

venv/
__pycache__/
test.py
